# Ignore les fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Ignore les environnements virtuels
venv/
env/
.env

# Ignore les fichiers liés à Docker (build cache, etc.)
.docker/

# Ignore le répertoire de configuration de VSCode
.vscode/

# Ignore les fichiers de logs
*.log

# Ignore les fichiers de sauvegarde
*~
